body{
    margin: 0%;
    font-size: 10px;
    background-image:url(Gemini_Generated_Image_7pfp977pfp977pfp\ \(2\).png) ;
}
.topo{
    align-items: center;
    height: 8em;
    padding: 0.3em;
    display: flex;
    justify-content: space-between;
    background-color: rgb(120, 81, 49);
}

/*------------------------------------- Botões -------------------------------*/

.itens{
    font-size: 2.3em;
    margin: 1em;
    display: flex;
    justify-content: center;
    color: white;
    gap: 10em;
}
.page{
    display: flex;
    width: 4em;
    justify-content: center;
    align-items: center;
    background-color: rgb(120, 81, 49);
    border-radius: 1em;
}
.page a{
    text-decoration: none;
    color: white;
}
.page:hover{
    background-color: rgb(76, 51, 30);
}


.david{
    display: flex;
    width: 4em;
    justify-content: center;
    align-items: center;
    background-color: rgb(120, 81, 49);
    border-radius: 1em
}
.david a{
    text-decoration: none;
    color: white;
}
.david:hover{
    background-color: rgb(76, 51, 30);
}

/*--------------------------- Biografia -----------------------*/

.foto{
    height: 34em;
    display: flex;
    justify-content: center;
    gap: 12em;
}
.foto img{
    width: 32em;
    height: 34em;
    border-radius: 2em;
    border: solid black 0.3em;
}


.res{
    text-align: center;
    height: 0;
    font-size: 2em;
    color:rgba(237, 234, 234, 0.352);
}
.resp{
    padding: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 43em;
    height: 10em;
    color: rgb(180, 176, 176);
    background-color: rgb(69, 45, 45);
    font-size: 0.9em;
    border-radius: 2em;
    border: solid black 0.3em;
}
/*--------------------------- S.Biografia ---------------------*/

.p2{
    margin: 1em;
    height: 29em;
    display: flex;
    gap: 12em;
    justify-content: center;
}

.resumo{
    padding: 1.1em;
    font-size: 2em;
    width: 13.5em;
    background-color: azure;
    text-align: center;
    border-radius: 1em;
    border: 0.18em solid;
}
.cmç{
    padding: 2em;
    display: flex;
    align-items: center;
    width: 44.3em;
    height: 12em;
    color: rgb(180, 176, 176);
    background-color: rgb(69, 45, 45);
    font-size: 1.75em;
    border-radius: 2em;
    border: solid black 0.3em;
}